footer ,a{
    color: white;
    background-color: #472F88;
}

.container-footer{
    padding: 0 35px;
}


h3{
    font-size: 20px;
    font-weight: 500;
}

.margin{
    margin-bottom: 30px;
}

.container-footer p{
    font-size: 12px;
    font-weight:100;
}

.notice-legales a{
    text-decoration: none;
}